{% extends 'padrao/modelo.html' %}
{% load crispy_forms_tags %}

{% block conteudo-titulo %}
<h3 class="text-center display-3">Excluir registros</h3>
{% endblock %}
{% block conteudo %}
<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <form action="" method="POST">
            <p class="text-center">
                Deseja excluir o registro: <strong>{{ object }}</strong>?
            </p>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="col-12 btn btn-danger">Excluir</button>
        </form>
    </div>
</div>
{% endblock %}
